#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 470px;
    max-height: 80vh;
}
ion-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ion-footer div, ion-footer div ion-icon{
    justify-content: space-between;
    padding: 5px;
}
ion-button{
    --border-color: #ffffff;
    --border-style: solid;
    --border-width: 1px;
}